<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenidos a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </a>
            </div>
            <div class="search-bar">
                <form action="GET" action="#" class="search-box">
                    <input type="text" name="search" class="input" placeholder="Buscar porductos, marcas y más">
                    <div class="search-submit">
                        <i class="fa fa-search"></i>
                    </div>
                </form>
            </div>
            <p>
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav class="ul">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </nav>
        <nav class="ul">
            <li>
                <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
            </li>
            <li>
                <a href="/login">Ingresá <i class="far fa-sign-in-alt"></i></a>
            </li>
            <li>
                <a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a>
            </li>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
        <form action="/" method="post" class="data-form">
            <input 
            type="text" 
            id="usuario" 
            class="form-input" 
            name="usuario"  
            placeholder="Nombre de usuario"
            required
            />
            <input 
            type="password" 
            name="contraseña" 
            id="contraseña" 
            placeholder="Contraseña" 
            class="form-input" 
            required
            />
            <button type="submit" class="form-input submit-button">Enviar</button>
        </form>
    </main>
    <footer>
        <section>
            <article class="footer-article">
                <div class="footer-icon"><i class="fas fa-credit-card"></i></div>
                    <h5>Pagá con tarjeta de credito o efectivo</h5>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarrjeta o efectivo en puntos de pago.
                        Y siempre es seguro!
                    </p>               
            </article>
            <article class="footer-article">
                <div class="footer-icon"><i class="fas fa-gift"></i></div>
                <h5>Envío gratis desde $2500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés Envíos gratis en miles de productos.
                    Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article class="footer-article">
                <div class="footer-icon"><i class="fas fa-user-shield"></i></div>
                <h5>Seguridad. de principio a fin</h5>
                <p>No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
            </article>
        </section>
        <p>Copyright @ 1999 - 2024 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>